* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #323232;
  color: #323232;
  font-family: "Alata", sans-serif;
}

.box {
  padding: 2px;
  height: 75vh;
  width: 60%;
  text-align: center;
  background: #f2f2f2;
  border: 1px solid #fff;
  box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  border-radius: 3px/6px;
  flex-wrap: wrap;
}
.box:hover,
.box:focus {
  box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  cursor: pointer;
  border: 1px solid gray;
}
.outer-box {
  padding-top: 5rem;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: yellow; */
}
.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title {
  flex: 2;
}
.title-out {
  flex: 2;
}

.title-show {
  flex: 1;
}

hr {
  line-height: 2px;
  color: black;
  width: 60%;
  margin: 2px auto;
  align-self: center;
}
.calculate {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
  height: 18vh;
  align-items: center;
  background: #1d2024;
  color: #fff;
  border-radius: 1.3rem;
  transition: all 0.7s ease-in;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.calculate:hover,
.calculate:focus {
  background: #fff;
  color: #1d2024;
}

.calculate span {
  height: 200px;
}

.val {
  margin: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}

.val > h3,
span,
input {
  flex: 2;
}
.val > button {
  flex: 1;
}

.foot {
  /* background: #fff; */
  color: #1d2024;
  width: 40%;
  margin: 2rem auto;
  text-align: center;
}
.foot a {
  font-size: larger;
  text-decoration: none;
  color: #8959b6;
}
.foot a:hover,
.foot a:focus {
  color: orangered;
  text-decoration: underline;
}

input {
  height: 2rem;
  width: 20px;
  margin-right: 1.3rem;
}

.clear {
  height: 0.8;
}
